/* 
--text: #e8f2f8;
--background: #0c1e27;
--primary: #94512e;
--secondary: #081318;
--accent: #c46e40;
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

body {
    font-family: 'Poppins';
    font-weight: 400;
    background-color: #0c1e27;
}


::-webkit-scrollbar {
    display: none;
}

/* 
---------------TOP NAV------------------
*/

#top_nav {
    width: 100%;
    height: 7.5vh;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(5px);
}

.button_slide {
    background-color: #0c1e27;
    color: #FFF;
    margin-right: 1.5vh;
    border: 2px solid #c46e40;
    padding: 1vh 1.5vh;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #c46e40;
    -webkit-transition: ease-out 0.25s;
    -moz-transition: ease-out 0.25s;
    transition: ease-out 0.35s;
}

.slide_left:hover {
    box-shadow: inset 0 0 0 50px #c46e40;
}

#outer {
    width: 364px;
    margin: 50px auto 0 auto;
    text-align: center;
}

@media (max-width: 800px) {
    #top_nav {
        display: none;
    }
}

/*
----------Presentacion----------
*/

.recepcion {
    text-align: center;
    margin-top: 0px;
    height: 55vh;
    position: relative;
}

@media (max-width: 800px) {
    .recepcion {
        margin-bottom: 100px;
    }
}

#background_effect {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    margin-bottom: 0px;
    transition: opacity 0.5s ease;
    /* Duraci贸n de la transici贸n y curva de aceleraci贸n */
}

@media (max-width: 900px) {
    #background_effect {
        display: none;
    }
}

#recepcion_nombre {
    color: #94512e;
    margin-top: 30vh;
    font-weight: 700;
    font-size: 7.5vh;
}

#recepcion_presentacion {
    color: #e8f2f8;
    font-size: 1.75vh;
}

/*
----------About section----------
*/

.about {
    top: 0px;
}

.about h2 {
    text-align: center;
    color: #94512e;
    font-size: 6vh;
}

#about_information {
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#about_information p {
    font-size: 2vh;
    margin-right: 10%;
    color: #e8f2f8;
    width: 30%;
}

#about_information img {
    height: 35vh;
    border-radius: 15px;
}

#social_media {
    display: flex;
    justify-content: center;
    gap: 10%;
}

#social_media img {
    margin-top: 0.5vh;
    width: 5vh;
    height: 5vh;
    color: #e8f2f8;
}

#social_media img:hover {
    filter: blur(1px);
}

.about h5 {
    margin-top: 8vh;
    text-align: center;
    color: #94512e;
    font-size: 4vh;
}

#download_cv {
    margin-top: 50px;
    text-align: center;
}

#show_skills {
    align-items: center;
    justify-content: center;
    display: flex;
}

.skill {
    width: 15vh;
    height: 15vh;
    background-color: #081318;
    border: 1px solid #94512e;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 1%;
}

.skill img {
    width: 90%;
}



@media (max-width: 800px) {
    #about_information img {
        display: none;
    }

    #about_information p {
        margin-left: 5%;
        width: 100%;
        text-align: center;
    }
}

/*
----------Proyects section----------
*/

.proyects h2 {
    margin-top: 10vh;
    text-align: center;
    color: #94512e;
    font-size: 6vh;
}

.proyect_card {
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10%;
}

.proyect_card img {
    width: 350px;
    object-fit: cover;
    /* Ajusta c贸mo se escala la imagen dentro del contenedor */
    -webkit-transform: scale(1);
    transform: scale(1);
    border-radius: 15px;
    border: solid;
    border-width: 2.5px;
    border-color: #94512e;

}

#proyect_text {
    color: #e8f2f8;
    width: 30%;
    margin-top: 0px;
}

#proyect_text a {
    text-decoration: none;
    font-weight: 800;
    font-size: 3.25vh;
    margin-top: 0px;
    margin-bottom: 3vh;
    color: #c46e40;
}

#proyect_text>a:hover {
    text-decoration: underline;
}

#proyect_text p {
    font-size: 1.75vh;
    margin-top: 0px;
    color: #e8f2f8;
}

@media (max-width: 800px) {
    #proyect_text {
        width: fit-content;
        margin-left: 25px;
    }

    .proyect_card {
        display: flex;
        gap: 0%;
        margin: 10%;
        margin-top: 125px;
    }

    .proyect_card img {
        display: none
    }
}

/*
----------Titulos---------
*/

.titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 0;
}

.titles h2 {
    text-align: center;
    color: #94512e;
    font-size: 6vh;
    margin-bottom: 2.5rem;
}

.titles img {
    width: 500px;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    border-color: #94512e;
}

@media (max-width: 800px) {
    .titles img {
        width: 50%;
    }
}
